
<div class="row">
    @foreach (var item in ViewBag.Months)
    {
        <div class="col-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <i><b>Date : </b>@item.StartDate  </i><br></br>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Expenses","Expense",new{MonthId=item.Id,MessId=ViewBag.MessId,})">Enter</a>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("EditMonthHistory","Dashboard",new{MessId=ViewBag.MessId,MonthId=item.Id})">Edit</a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("DeleteMonthHistory","Dashboard",new{MonthId=item.Id})">Delete</a>

                </div>
            </div>
        </div>
    }
</div>
