
<div class="row">
    @foreach (var item in ViewBag.Messes)
    {
        <div class="col-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <i><b>Date : </b>@item.StartDate  </i><br></br>
                    <a class="btn btn-sm btn-info" href="@Url.Action("MessMembers","Dashboard",new{Id=item.Id})">Enter</a>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("EditMessName","Dashboard",new{Id=item.Id})">Edit</a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("DeleteMessHistory","Dashboard",new{Id=item.Id})">Delete</a>

                </div>
            </div>
        </div>
    }
</div>
