@Html.Partial("./Partials/_Headers")

<!-- Main Content -->
<div class="row mt-4">
    <div class="col-9">
        <!-- Sidebar -->
        <div class="row bg-light">
            <div class="col-6">
                <h4>Current Month Meal Status!</h4>
            </div>
            <div class="col-6 d-flex justify-content-between">
               
            </div>
        </div>


        <div class="d-flex justify-content-center">
            <div class="align-items-center" style="width: 400px">
                <div class="card m-2 border-1 bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5><i><b>Current Meal Timeline</b></i></h5>
                            </div>
                            <div class="col-4">
                                <p style="font-size: 10px;" class="bg-success text-white m-0 p-2"><b>Running</b></p>
                                <p style="font-size: 10px;" class="bg-info m-0 p-2"><b>Stop</b></p>
                                <p style="font-size: 10px;" class="bg-dark text-white m-0 p-2"><b>Closed</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="m-1 col-2"></div>
                            <div class="m-1 col-2"></div>
                            @foreach (var item in ViewBag.Days)
                            {
                                @if (item.Dinner > 0)
                                {
                                    if (item.IsEnd == true)
                                    {
                                        <button type="button" disabled class="btn btn-sm text-white btn-success m-1 col-2">@item.Number</button>
                                    }
                                    else
                                    {
                                        <button type="button" onclick="changeStatus('@item.Id', this)" class="btn btn-sm text-white btn-success m-1 col-2">@item.Number</button>
                                    }

                                 @*   <div class="bg-success d-flex justify-content-between m-1 col-2">
                                        <button type="button" class="border-0 bg-transparent">@item.Number</button>
                                        <button class="text-white m-1 border-0 bg-transparent" style="font-size:12px">V</button>
                                    </div>
                                   *@
                                }
                                else
                                {

                                    if (item.IsEnd == true)
                                    {
                                        <button type="button" disabled class="btn btn-sm btn-info m-1 col-2">@item.Number</button>
                                    }
                                    else
                                    {
                                        <button type="button" onclick="changeStatus('@item.Id', this)" class="btn btn-sm btn-info m-1 col-2">@item.Number</button>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
    <div class="col-3">
        @Html.Partial("../Expense/Partials/_Sidebar")
    </div>
</div>






















@section Scripts {
    <script>
        function changeStatus(DayId, currentButton) {
            $.post('/Meal/ChangeStatus', { DaysId: DayId }, function (response) {
               
                if (response.days.dinner > 0) {
                    $(currentButton).removeClass('btn-info').addClass('btn-success');
                    
                } else {
                    $(currentButton).removeClass('btn-success').addClass('btn-info');
                }
            }).fail(function (xhr, status, error) {
                // Handle error
            });
        }
    </script>
}
